---
import { pagesWithLogo } from '@scripts/pages';

import ActivityCard from '@components/ActivityCard.astro';

import PageLayout from '@layouts/PageLayout.astro';

const title = "Codeclub";
const heading = "Codeclub";
---

<PageLayout title={title} heading={heading} active="home">
    <p>What do you want to create today?</p>
    {pagesWithLogo.map((page) => <ActivityCard {...page} />)}
</PageLayout>
