---
import Accordion from "@components/Accordion.astro";
import AccordionItem from "@components/AccordionItem.astro";

import PageLayout from "@layouts/PageLayout.astro";

const title = "Test - Accordion";
const heading = "Accordion Test";
const active = "page1";

const pages = [
    { name: "Page1", route: "/dummy/page1/" },
    { name: "Page2", route: "/dummy/page2/" },
];
---

<PageLayout title={title} heading={heading} active={active} pages={pages}>
    <h2>First accordion</h2>

    <Accordion id="acc1">
        <AccordionItem name="Item #1" description="First item">
            <p>First content</p>
        </AccordionItem>
        <AccordionItem name="Item #2" description="Second item">
            <p>Second content</p>
        </AccordionItem>
    </Accordion>

    <h2>Second accordion</h2>

    <Accordion id="acc2">
        <AccordionItem name="Item #3" description="Third item">
            <p>Third content</p>
        </AccordionItem>
        <AccordionItem name="Item #4" description="Fourth item">
            <p>Fourth content</p>
        </AccordionItem>
</PageLayout>
