---
import P5PageLayout from '@layouts/P5PageLayout.astro';

const title = "P5 library";
const heading = "P5 library";
---

<P5PageLayout title={title} heading={heading} showToc={false} showP5={false}>
    <p>The p5 library provides graphic functions for drawing, animation and data visualisation. Artists, animators and designers use the p5 Processing library for creative coding.</p>

    <ul>
        <li><a href="./p5-using-the-editor">Using the editor</a></li>
        <li><a href="./p5-getting-started">Getting started</a></li>
        <li><a href="./p5-shapes">Coordinates, angles &amp; shapes</a></li>
        <li><a href="./p5-styling">Styling</a></li>
        <li><a href="./p5-colors">Colors</a></li>
        <li><a href="./p5-interactivity">Interactivity</a></li>
        <li><a href="./p5-transformations">Transformations</a></li>
        <li><a href="./p5-typography">Typography</a></li>
        <li><a href="./p5-math">Math tidbits</a></li>
        <li><a href="./p5-randomness-perlin">Randomness and Perlin noise</a></li>
        <li><a href="./p5-reference">Reference</a></li>
    </ul>
</P5PageLayout>
