---
import path from 'node:path';

import { Image } from 'astro:assets';

import PerlinFieldP5Sketch from '@components/sketches/PerlinFieldP5Sketch.astro';

import PageLayout from '@layouts/PageLayout.astro';

// import screenshot from '@images/activities/p5-based/screenshot.png';

const title = "Perlin Field";
const heading = "Perlin Field";

const filePath = path.resolve('public/activities/p5-based/sample.py');
---

<PageLayout title={title} heading={heading} active="p5" difficulty="medium">

    <h2 style="color: red;">UNDER CONSTRUCTION - UNDER CONSTRUCTION - UNDER CONSTRUCTION</h2>

    <section>
        <h2>What will I make?</h2>

        <p>A screensaver-like animation with colourful triangles moving smoothly.</p>

        <PerlinFieldP5Sketch />

        <p>Click the mouse to randomize the animation.</p>
    </section>

    <section>
        <h2>Instructions</h2>
        <ol>
            <li>Open the <a href="https://editor.raspberrypi.org/en/projects/ajar-plank-most" target="_blank">starter project</a> and click the <strong>Run</strong> button.</li>
            <li>Login to be able to save your work.</li>
            <li>...</li>
        </ol>
    </section>

    <section>
        <h2>What can I try next?</h2>
        <p>...</p>
        <!--
        <p>Here are some things you can try to make the app better. They are independent from each other so you can pick just a couple or do them in a different order. If you get stuck, use the <em>Hints</em> button or read the Guizero documentation (see <a href="../index.html">Build an app with Guizero</a>).</p>
        <p>And of course you can also use your imagination and change the app as you like!</p>
        <ul>
            <li>Add a button to <strong>change the background color</strong>.
                <ol>
                    <li>Create a new <cc-gz-pushbutton/> with <code>text="Background"</code> (or an image) and linked to the <code>on_background</code> callback function.</li>
                    <li>Create a new <code>on_background</code> callback function to change the background color of <code>output_text</code>.</li>
                    <details class="hints">
                        <summary>Hints</summary>
                        <ul>
                            <li>Check the existing <code>on_color</code> callback function. It does almost what you need but it changes the foreground color instead of the background color.</li>
                            <li>Check the documentation for <cc-gz-textbox/> and find the property you need to change.</li>
                        </ul>
                    </details>
                </ol>
            </li>
        </ul>
        -->
    </section>

</PageLayout>
